.card-columns .card {
    margin-bottom: .75rem;
    max-width: 50%;
    margin-left: auto;
    margin-top: 15rem;
    position: relative;
    margin-right: auto;
   
    

 }

 @media .card-deck {
     margin-left: 20rem;
     margin-right: -15rem;
 }
